rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'sliceofcake2026@gmail.com';
    }
    
    // By default, do not allow read/write.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
